$nice-blue: #e5f0f5;

.App {
  padding: 1rem;
}

.nice-blue {
  background-color: $nice-blue !important;
}

.edit-form {
  padding: 1rem;
}

.right-floating {
  float: right;
}

.inverted-btn {
  color: white !important;
  background: #333333 !important;
}
