.App {
  padding: 1rem; }

.nice-blue {
  background-color: #e5f0f5 !important; }

.edit-form {
  padding: 1rem; }

.right-floating {
  float: right; }

.inverted-btn {
  color: white !important;
  background: #333333 !important; }
