.App {
  padding: 1rem;
}

.center {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.list-header {
  display: flex;
  &__title {
    width: 13rem;
  }
  &__author {
    width: 10rem;
  }
}

.book {
  display: flex;
  justify-content: space-between;
  &-details {
    display: flex;
    &__title {
      width: 13rem;
    }
    &__author {
      width: 10rem;
    }
  }
}

.prompt-message {
  width: 30rem;
  height: 15rem;
  background-color: yellow
}

.edit-form {
  padding: 1rem;
  width: 30rem;
  height: auto;
  background-color: yellow
}

.form-close {
  float: right;
}
